<div class="nav-container">
  <header>
    <h1 class="app-title"><i class="fa fa-leaf"></i> Techs</h1>
  </header>
  <nav>
    <ul class="nav">
      <li><a href="#"><i class="fa fa-tachometer"></i>Dashboard</a></li>
      <li><a href="#"><i class="fa fa-binoculars"></i>Job List</a></li>
      <li><a href="#"><i class="fa fa-plus-square-o"></i>New Job</a></li>
      <li><a href="#"><i class="fa fa-phone-square"></i>Call Logger</a></li>
      <li><a href="#"><i class="fa fa-users"></i>Technicians</a></li>
    </ul>
  </nav>
  <footer>
    <ul class="nav">
      <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
      <li><a href="#"><i class="fa fa-question"></i> Help</a></li>
    </ul>
  </footer>
</div>

<div class="main-container">
  <header>
    <h1>Main Heading</h1>
  </header>

  <main>
    <article>
      <h2>Section Name</h2>
      <p>Section content:s this repeats</p>
    </article>

    <aside>
      <p>Side pane content</p>
    </aside>
  </main>

  <footer>

  </footer>
</div>