

  <header>
    <h1>Dashboard</h1>
  </header>

  <main>
    <div class="boxlet" data-boxlet-id="1">
      <div class="boxlet-heading">
        <h3>Heading</h3>
      </div>
      
      <div class="boxlet-body scroll">
        sfsdf
      
      </div>
    </div>
  </main>

  <footer>
    footer
  </footer>