/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


/*
* SASS imports
* 
* 
* 
* 
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*
* SASS Variables
* 
* 
* 
* 
 */

$nav-margin: 250px;
$big-padding: 40px;
$med-padding: 20px;
$small-padding: 10px;

$tb-darkgrey: #333;
$tb-grey: #a1a1a1;
$tb-lightgrey: #d7d7d7;
$tb-green: #009899;

/*
* HTML 5 tags
* 
* 
* 
* 
 */

body, html {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0; margin: 0;
	font-family: 'Roboto', sans-serif;
}


.nav li a i {
	margin-right: 10px;
}



/*
* Side Navigation Panel
* 
* This is the styling for the side nav that contains the logo/heading, the navigation itself
* and the settings and help navigation.
* 
 */

.nav-container {
	* {
		color: #fff;
	}
	
	float: left;
	width: $nav-margin;
	height: 100%;
	background-color: $tb-darkgrey;
	position: absolute;
	z-index: 20;

	header, nav, footer {
		width: 100%;
	}

	.app-title {
		padding-top: $med-padding; padding-bottom: $med-padding;
		text-align: center;
		font-weight: 300;
		font-size: 3.0em;

		&:hover {
			background-color: #fff;
		}
	}

	.nav li a,
	.app-title {
		&:hover {
			color: $tb-green;
			*{color: $tb-green;}
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
	}

}

/*
* Main Container
* 
* This everything right of the navigation panel
* 
* 
 */

.main-container {

	* {
		color: $tb-darkgrey;
	} 

	position: relative;
	padding-left: $nav-margin;
	width: 100%;
	height: 100%;
	z-index: 10;

	header, main, footer {
		width: 100%;
	}

	header {
		background-color: $tb-grey;

		h1 {
			padding: $small-padding;
			color: #fff;
			font-weight: 100;
			font-size: 2.5em;
		}
	}

	main {
		overflow-y: scroll;
		height: calc(100% - 105px);
		padding: $med-padding;


		.boxlet {
			display: inline-block;
			border: 1px solid #ddd;
			border-radius: 5px;
			background-color: #fff;
			margin: 0;
			position: absolute;
			width: 200px;
			height: 200px;
		}

	}

	footer {
		background-color: $tb-lightgrey;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: $small-padding;
		width: calc(100% - #{$nav-margin});
	}

}