<!DOCTYPE html>
<html>
<head>
  <title>TechbodsOnRails</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav-container">
    <header>
      <h1 class="app-title"><i class="fa fa-leaf"></i> Techs</h1>
    </header>
    <nav>
      <ul class="nav">
        <li><a href="#"><i class="fa fa-tachometer"></i>Dashboard</a></li>
        <li><a href="#"><i class="fa fa-binoculars"></i>Job List</a></li>
        <li><a href="#"><i class="fa fa-plus-square-o"></i>New Job</a></li>
        <li><a href="#"><i class="fa fa-phone-square"></i>Call Logger</a></li>
        <li><a href="#"><i class="fa fa-users"></i>Technicians</a></li>
      </ul>
    </nav>
    <footer>
      <ul class="nav">
        <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
        <li><a href="#"><i class="fa fa-question"></i> Help</a></li>
      </ul>
    </footer>
  </div>
  
  <div class="main-container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
